module Types
  class <%= class_name %> < Types::BaseObject
  <% class_name.constantize.columns_hash.each do |column_name, value| -%>
  field :<%= column_name %>, <%= convert_type(column_name, value.type) %>, null: false
  <% end -%>
end
end
