@import '../styles/base.scss';

.form-layout {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 280px;
    height: auto;
    padding-top: 20px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    height: 50px;
    font-size: 15px;
    line-height: 15px;
  }

  button {
    height: 50px;
    font-size: 15px;
  }
}

.form-border {
  background-color: white;
  width: 450px;
  padding: 20px 40px 20px 40px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #f4f4f4;
  border-radius: 8px;
}

.login-form {
  border-radius: 5px;
  text-align: left;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}