<h1>Fitness Score:
    <%= @fitness_score%>
</h1>
<table>
    <thead>
        <tr>
            <th>Section</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>

    <tbody>
        <% (0...@schedule.number_of_sections).each do |section| %>
            <tr>
                <td>
                    <h4>
                        Section
                        <%= section + 1%>
                    </h4>
                </td>
                <% (0...6).each do |day| %>
                    <td>
                        <% @schedule.rooms_arr.each_with_index do |room, index|%>

                            <% room = ClassRoom.find(room) %>
                                <% if @schedule.slots[day][section][index].present? %>
                                <p>
                                    [
                                    <% @schedule.slots[day][section][index].each do |class_id|%>
                                        <% registered_class = RegisteredClass.find(class_id) %>
                                            |
                                            <%= "#{registered_class.course_type} #{registered_class.id}, #{registered_class.groupable.lecturer.full_name}, #{registered_class.slot}"%> |
                                                <% end %> ] <%= room.code %> - <%= room.seats %> seats
                                                    
                                </p>
                                <% end %>

                                <% end %>
                    </td>
                    <% end %>
            </tr>
            <% end %>
    </tbody>
</table>
