@import '../../styles/base';

.top-header {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .05);

  .user-dropdown {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11.3%;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #e6f4ff;
    }

    padding: 0 15px;
  }
}

.menu-dropdown {
  .ant-dropdown-menu-item {
    padding: 10px 30px;
  }

  i {
    padding-right: 10px;
  }

  .change-avatar-link {
    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.notification-icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 20px;

  i {
    font-size: 25px
  }
}