// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
$primary-color: #1890ff;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "arctic_admin/base";
@import 'activeadmin_addons/all';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.selected-list-container {
  width: 50%
}

.course-relationship-container {
  h3 {
    display: none
  }

  a.has_many_add {
    margin-bottom: 50px;
  }


}

.course-relationship {
  ol {
    display: flex;
    flex-direction: row;

    li.input {
      flex-basis: 50%;

      label {
        width: unset !important
      }
    }

    li.has_many_delete {
      align-self: center !important;
      margin-left: 0 !important;
    }
  }
}